<a href="https://colab.research.google.com/github/navdeep-sai-avv/learning-ai/blob/main/lin_reg_2_incomplete/lin_reg_boston_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
import kagglehub

path = kagglehub.dataset_download("altavish/boston-housing-dataset")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.2).
Downloading from https://www.kaggle.com/api/v1/datasets/download/altavish/boston-housing-dataset?dataset_version_number=1...

100%|██████████| 11.7k/11.7k [00:00<00:00, 19.7MB/s]

Extracting files...

In [ ]:
cd ..

/content/lin_reg_2

in above cell, via many commands, i created a folder "lin_reg_2" in content and using path, i found out where downloaded csv is and i transfered it into my lin_reg_2, where in it, inside a folder names "1", it is there "HousingData.csv"

In [ ]:
path = "1/HousingData.csv"
df = pd.read_csv(path)

In [ ]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

understanding the types of data, structure and overall distribution of data and different columns by first making simple overall checks like this below

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [ ]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
dict = {"CRIM" :"per capita crime rate by town",
"ZN" : "proportion of residential land zoned for lots over 25,000 sq.ft.",
"INDUS" : "proportion of non-retail business acres per town",
"CHAS" : "Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)",
"NOX" : "nitric oxides concentration (parts per 10 million)",
"RM" : "average number of rooms per dwelling",
"AGE" : "proportion of owner-occupied units built prior to 1940",
"DIS" : "weighted distances to five Boston employment centres",
"RAD" : "index of accessibility to radial highways",
"TAX" : "full-value property-tax rate per $10,000",
"PTRATIO" : "pupil-teacher ratio by town",
"B" : "1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town",
"LSTAT" : "% lower status of the population",
"MEDV" : "Median value of owner-occupied homes in $1000's"}

In [ ]:
cd lin_reg_2_incomplete/

/content/lin_reg_2_incomplete

In [ ]:
!git clone https://github.com/navdeep-sai-avv/learning-ai.git

Cloning into 'learning-ai'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 18 (delta 6), reused 8 (delta 3), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 12.57 KiB | 12.57 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [ ]:
!git config --global user.email "navdeep.avv@gmail.com"
!git config --global user.name "navdeep-sai-avv"

In [ ]:
!git commit -m"tried to do second lin_reg project but confused bcz of dataset, so stopped and pushing all things about it to github"

[main 71a50e7] tried to do second lin_reg project but confused bcz of dataset, so stopped and pushing all things about it to github
 1 file changed, 507 insertions(+)
 create mode 100644 lin_reg_2_incomplete/1/HousingData.csv

In [ ]:
here used to be the git pushing long thing with key and since key was there, it was not accepted, so removing it but not removing output

Enumerating objects: 6, done.
Counting objects: 100% (6/6), done.
Delta compression using up to 2 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (5/5), 11.97 KiB | 3.99 MiB/s, done.
Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/navdeep-sai-avv/learning-ai.git
   475ca71..71a50e7  main -> main

done pushing